$main-color: #0C0C0E;
$black-color: #000000;
$brown-color: #BB945F;
$white-color: #FFFFFF;
$grey-color: #8E8E8E;

$inter: "Inter", sans-serif;
$forum: "Forum", sans-serif;

$breakpoints: ("tablet": 768px);

